<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>My Portfolio</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <div class="search-area">
        <h3>Search Cryptos</h3>
        <%= form_tag search_path, remote: true, data: {turbo: false}, method: :get do %>
          <div class="form-group row">
            <div class="d-flex">
              <div class="no-right-padding">
                <%=
                  text_field_tag :crypto_name,
                                params[:crypto_name],
                                placeholder: 'Crypto name',
                                autofocus: true,
                                class: 'form-control form-control-lg'
                %>
              </div>
              <div class="no-left-padding">
                <%= button_tag type: :submit, class: "btn btn-success" do %>
                  <i class="bi bi-search" style="font-size: 1.5rem"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <div id="result"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <%= render 'users/crypto' %>
    </div>
  </div>

    <div class="row">
      <div class="col-9" />
        <% if !@tracked_cryptos.empty? %>
          <%= render 'cryptos/list' %>
        <% else %>
          <p>You don't have any crypto to track yet</p>
        <% end %>
    </div>
  </div>
</div>
