<h3>Tracked Cryptos</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Logo</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tracked_cryptos.each_with_index do |crypto, index| %>
      <tr>
        <td scope="col"><%= index + 1 %></td>
        <td scope="col"><img src="<%= crypto.image %>" alt="" /></td>
        <td scope="col"><%= crypto.name %></td>
        <td scope="col"><%= crypto.symbol %></td>
        <td scope="col"><%= crypto.last_price %></td>
        <td scope="col">Actions...</td>
      </tr>
    <% end %>
  </tbody>
</table>
